[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pocketsphinx = {editable = true,path = "./pocketsphinx-python"}
websockets = "*"

[dev-packages]
pyaudio = "*"

[requires]
python_version = "3.7"
